.item {
    display: flex;
    justify-content: space-between;
}

input {
    margin-right: 10px;
}

.done {
    text-decoration: line-through;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none
}

