/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    background-image: url("assets/bg-desktop-light.jpg");
    background-repeat: no-repeat;
}